	<!-- Content -->
	<div class="content clearfix">

	<!-- Fullscreen Slider Section --> 
	<section id="home" class="section-block
	featured-media window-height tm-slider-parallax-container"> 
		<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-animation="slide" data-scale-under="960" data-scale-min-height="550">
			<ul class="tms-slides"> 
				<li class="tms-slide" data-image
				data-as-bkg-image data-force-fit data-overlay-bkg-color="#000000" data-
				overlay-bkg-opacity="0.6"> 
					<div class="tms-content"> 
						<div class="tms-content-inner center center-on-mobile v-align-middle"> 
							<div class="row d-flex justify-content-center"> 
							<!-- 	<div class="column width-4">
									
								</div> -->
								<div class="column width-7"> 
                                    {% if logo is defined %}
									   <img src="{{content.logo[0]}}" class="{% if title == 'Casa Habano | Cancun' %} logo-cancun {% elseif  title == 'Casa Habano | Cozumel' %} logo-cozumel {% endif %} tms-caption no-margin-bottom"  data-no-scale data-animate-in="preset:slideInUpShort;duration:800ms;delay:400ms;" alt="">
                                    {% endif %}
									<!-- <img data-src="images/logo.png" data-retina src="images/blank.png"  alt="{{content.images[1]}}"/>  -->
									<h1 class="tms-caption color-white title-large weight-bold no-margin-bottom" data-no-scale data-animate-in="preset:slideInUpShort;duration:800ms;delay:400ms;"> 
										{{content.title}}
									</h1> 
									<h3 class="tms-caption color-white  weight-bold no-margin-bottom"  data-no-scale data-animate-in="preset:slideInUpShort;duration:800ms;delay:400ms;">{{content.sub_title}}</h3>
								</div> 
							</div> 
						</div> 
					</div> 
					<img data-src="{{content.images[0]}}" data-retina src="images/blank.png" alt="{{content.images[1]}}"/> 
				</li>
			</ul> 
		</div> 
	</section> 
	<!-- Fullscreen Slider Section End -->

    <!-- About  Section-->
    <div id="about" class="section-block replicable-content bkg-grey-ultralight">
        <div class="row">
            <div class="column width-6 offset-3 center">
                <h2 class="mb-50">{{content.title_About}}</h2>
            </div>
            <div class="column width-6 offset-3 left">
                <p>{{content.content_About|raw}}</p>
                <blockquote>
                   {{content.blockquote_About|raw}}
                </blockquote>
                <p>{{content.content_About_2}}</p>
            </div>
        </div>
    </div>
    <!-- About Section End -->

<!-- Banner Experiences Section -->
<div class="section-block fullscreen-section  {% if title == 'Casa Habano | Cancun' %} bkg-bannercancun {% elseif  title == 'Casa Habano | Cozumel' %} bkg-bannercozumel {% elseif  title == 'Casa Habano | Tijuana' %} bkg-bannertijuana {% elseif  title == 'Casa Habano | Cabos' %} bkg-bannercabos{% endif %}">
    <div class="background-image-wrapper">
        <div class="background-image bkg-image-1">
            <div class="caption-text">
                <div class="row ">
                    <!-- <div class="column width-12">
                        {{ content.banner_about|raw }}
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Experiences Section End -->

<!-- Experience Grid -->
<div id="experiences" class="section-block grid-container fade-in-progressively full-width no-margins no-padding bkg-charcoal" data-layout-mode="masonry" data-grid-ratio="1" data-animate-filter-duration="700" data-set-dimensions data-animate-resize data-animate-resize-duration="0.8">
    <div class="row">
        <div class="column width-12">
            <div class="row grid content-grid-4">
                <div class="grid-item">
                    <div class="thumbnail">
                        <img src="{{content.images_exp[0]}}" class="img-fluid" alt=""/>
                    </div>
                </div>
                <div class="grid-item grid-sizer">
                    <div class="thumbnail">
                        <img src="{{content.images_exp2[0]}}" class="img-fluid" alt=""/>
                    </div>
                </div>
                <div class="grid-item large grid-sizer bkg-charcoal color-white">
                    <div class="content-outer">
                        <div class="content-inner">
                            <div class="row">
                                <div class="column width-8 offset-2 center">
                                    <h2>{{content.title_Exp}}</h2>
                                    <p class="lead color-white">{{content.content_Exp|capitalize }}</p>
                                    <div class="row">
                                        <div class="column width-10 offset-1">
                                            <img src="images/logos/signature-grid-4-center-grey.svg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="thumbnail">
                        <img src="{{content.images_exp3[0]}}" class="img-fluid" alt=""/>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="thumbnail">
                        <img src="{{content.images_exp4[0]}}" class="img-fluid" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Experience Grid End -->

<!-- Contact -->
<section id="location" class="section-block hero-5 hero-5-3 clear-height show-media-column-on-mobile bkg-gray">
    <div class="media-column width-6">
        <div id="map"></div>
    </div>
    <div class="row">
        <div class="column width-6"></div>
        <div class="column width-5 offset-1 float-right">
            <div class="hero-content split-hero-content">
                <div class="hero-content-inner left horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;" data-threshold="0.5">
                    <p class="lead color-white">{{content.title_Loc}}</p>
                   
                    <address class="text-white">
                        {{content.address|raw}}
                    </address>
                    <p class="text-white">
                    <!-- Email: <a href="mailto:#">info@sartrearchi.com</a -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Contact End -->

   

<!-- Content End -->
