
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-top two-columns-on-tablet">
            <div class="row flex">
                <div class="column width-4">
                   <div class="widget">
                        <h4 class="widget-title">{{content.titleFooter}}</h4>
                        <ul class="list-group large">
                            <li>
                                <span class="post-info"><span class="post-date"> {{content.titleFooter}}</span></span>
                                <span class="post-info"><span class="post-date"> {{content.addressFooter|raw}}</span></span>
                                <a href="{{content.linkFooter}}" target="_blank">{{content.seelink}}</a>
                                
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column width-3">
                    <div class="widget">
                        <h4 class="widget-title">{{content.title_Footer2}}</h4>
                        <ul class="list-group large">
                            {% for items in content.store %}
                                <li>
                                    <h4 class="post-info">{{items.title}}</h4>
                                    <p class="post-info">{{items.address}}</p>
                                    <a href="{{items.link}}" target="_blank">{{items.seelink}}</a>
                                </li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>


                <div class="column width-3">
                    <div class="widget">
                        <h4 class="widget-title">{{content.title_Footer3}}</h4>
                        <ul>
                            <li>
                                <a href="http://www.habanos.com/es/" target="_blank">www.habanos.com</a>
                            </li>
                            <li>
                                <a href="http://cohiba.com/age-gate/" target="_blank">www.cohiba.com</a>
                            </li>
                            <li>
                                <a href="http://partagas.com/age-gate/" target="_blank">www.partagas.com</a>
                            </li>
                              <li>
                               
                                <a href=" http://blog.cigarsmexico.com.mx/" target="_blank">blog.cigarsmexico.com.mx</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column width-2 d-flex justify-content-center">
                    <ul class="social-list list-horizontal pull-right clear-float-on-mobile d-flex justify-content-center">
                        {% for socialsItems in content.social %}
                            <li><a href="{{socialsItems.link}}" target="_blank"><span class="{{socialsItems.title}} medium"></span></a></li>
                        {% endfor %}
                    </ul>
                    <ul class="social-list list-horizontal pull-right clear-float-on-mobile  d-flex justify-content-center">
                        <li class="mt-40"><a href="/" ><img src="{{content.footerlogo}}" alt=""></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->