
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-top two-columns-on-tablet">
            <div class="row flex">
                <div class="column width-4">
                   <div class="widget">
                        <h4 class="widget-title">CASA DEL HABANO {{content.titleFooter}}</h4>
                        <ul class="list-group large">
                            <li>
                                <span class="post-info"><span class="post-date"> {{content.titleFooter}}</span></span>
                                <span class="post-info"><span class="post-date"> Benito Juárez No1 Centro Cozumel</span></span>
                                <a href="#">Ver el mapa de Google</a>
                                
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column width-3">
                    <div class="widget">
                        <h4 class="widget-title">THE OTHER STORES</h4>
                        <ul class="list-group large">
                            {% for items in content.store %}
                                <li>
                                    <h4 class="post-info">{{items.title}}</h4>
                                    <p class="post-info">{{items.address}}</p>
                                    <a href="{{items.link}}">Ver el mapa de Google</a>
                                </li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>


                <div class="column width-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4>
                        <ul>
                            <li>
                                <a href="#">www.habanos.com</a>
                            </li>
                            <li>
                                <a href="#">www.cohiba.com</a>
                            </li>
                            <li>
                                <a href="#">www.partagas.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column width-2 d-flex justify-content-center">
                    <ul class="social-list list-horizontal pull-right clear-float-on-mobile d-flex justify-content-center">
                        {% for socialsItems in content.social %}
                            <li><a href="{{socialsItems.link}}"><span class="{{socialsItems.title}} medium"></span></a></li>
                        {% endfor %}
                    </ul>
                    <ul class="social-list list-horizontal pull-right clear-float-on-mobile  d-flex justify-content-center">
                        <li class="mt-40"><img src="{{content.navlogo}}" alt=""></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->